{% extends 'account/base.html' %}
{% load static %}


{% block title %}Profile{% endblock title %}


{% block content %}

<div class="card">
    <div class="card-header">
        <h3 class="">Edit Profile</h3>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col">
                <form action="" method='POST' novalidate enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for fm in u_form%}
                        <div class="form-group">
                            {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                        </div>
                    {% endfor %}

                                
                    <div class="my-3">
                        <input type="submit" value="Save" class="btn btn-primary">
                        <a href="{% url 'profile'%}" class="btn btn-secondary"><i class="fas fa-long-arrow-alt-left"></i> Back to Profile</a>
                    </div>
                                
                </form>
            </div>
        </div> 
    </div>
</div>

<!--
<div class="container">
    <div class="row">
        <div class="col-sm-8 mx-auto bg-light">
            <div class="m-3 p-3 ">
                <div class="card-header">
                        <h3 class="font-italic">Edit Profile</h3>
                </div>
                
                <hr>
                <div class="card-body">
                    <form action="" method='POST' novalidate enctype="multipart/form-data">
                        {% csrf_token %}

                        {% for fm in u_form%}
                            <div class="form-group">
                                {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                            </div>
                        {% endfor %}

                        
                        {% comment %} {% for fm in p_form%}
                            <div class="form-group">
                                {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                            </div>
                        {% endfor %} {% endcomment %}
                        
                        <div class="my-3">
                            <input type="submit" value="Save" class="btn btn-primary">
                        </div>
                        
                    </form> 
                </div>

            </div>
        </div>
    </div>

</div>
-->
{% endblock content %}   
