{% extends 'account/forgotpassword/pass_reset_base.html' %}

{% block title %}password reset form{% endblock title %}


{% block content %}
    <div class="col-sm-6 mx-auto reset_form mt-5">
        <div class="m-5 p-5">
            <h3>Enter new password</h3>

            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

            <form action="" method='POST' novalidate>
                    {% csrf_token %}
                    {% for fm in form%}
                        <div class="form-group">
                            {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                        </div>
                    {% endfor %}
                        
                    <input type="submit" class="btn btn-primary" value="Reset">
            </form>
        </div>
    </div>
     
{% endblock content %}