{% extends 'account/forgotpassword/pass_reset_base.html' %}

{% block title %}password reset form{% endblock title %}

{% block content %}

    <div class="col-sm-8 mx-auto mt-5 reset_sent">
        <div class="m-5 p-5">
            <h3>Password reset sent</h3>


            <p>We’ve emailed you instructions for setting your password, 
                if an account exists with the email you entered. 
                You should receive them shortly.
            </p>

            <p>If you don’t receive an email, 
                please make sure you’ve entered the address you registered with, 
                and check your spam folder.
            </p>
        </div>
    </div>
    
{% endblock content %}