{% extends 'account/base.html' %}
{% load static %}

{% block title %}Fault Module{% endblock title %}


{% block content %}
    <div class="col-sm-8 offset-2">
        <h3 class="text-dark my-5">Add Fault Module</h3>
        <div class="card p-5 shadow">
            <form action="" method="post" novalidate>
                {% csrf_token %}
                    <div class="form-group">
                        {{form.as_p}}
                    </div>
                    <input type="submit" value="Add" class="btn btn-primary">
                    <a href="{% url 'viewfaultmodule'%}" class="btn btn-secondary"><i class="fas fa-long-arrow-alt-left"></i> Back to View</a>
            </form>
        </div>
       
    </div>
{% endblock content %}

