{% extends 'account/base.html' %}
{% load static %}

{% block title %}Vew Problem{% endblock title %}

{% block mycss %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.css">-->

{% endblock mycss %}



{% block content %}

    
    <div class="col-sm-8 bg-light mx-auto">
            <h4 class="text-center alert alert-info">Report Problem</h4>
            <hr>
            <form action="" method="POST" class="">
                {% csrf_token %}
                
                <!--Equipment and Runway-->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Runway</label>
                            <div class="ui selection dropdown" id="runways">
                                <input type="hidden" name="runway">
                                <i class="dropdown icon"></i>
                                <div class="default text">Choose a Runway</div>
                                <div class="menu" id="runway-data-box">
                                    {% for runway in runways %}
                                        <div class="item" data-value="{{runway.id}}">{{runway.runway}}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <label>Equipment</label>
                        <div class="ui selection dropdown" id="equipments">
                            <input type="hidden" name="equipment">
                            <i class="dropdown icon"></i>
                            <div class="default text" id="equipment-text">Choose an Equipment</div>
                            <div class="menu" id="equipment-data-box">
                                <!-- Dropdown data from ajax-->
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!--Makes and Model-->
                <div class="row">
                    <div class="col-sm-6">
                        <label>Make</label>
                        <div class="ui selection dropdown" id="makes">
                            <input type="hidden" name="make">
                            <i class="dropdown icon"></i>
                            <div class="default text">Choose a Make</div>
                            <div class="menu" id="makes-data-box">
                                {% for make in makes %}
                                    <div class="item" data-value="{{make.id}}">{{make.name}}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <label>Model</label>
                        <div class="ui selection dropdown" id="models">
                            <input type="hidden" name="model">
                            <i class="dropdown icon"></i>
                            <div class="default text" id="model-text">Choose a Model</div>
                            <div class="menu" id="models-data-box">
                                <!-- Dropdown data from ajax-->
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!--Start Date and End Date-->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Start Date</label>
                            <input type="text" class="form-control dateinput" name="startdateinput" autocomplete="off" placeholder="Select start date">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>End Date</label>
                            <input type="text" class="form-control dateinput" name="endtdateinput" autocomplete="off" placeholder="select end date">
                        </div>
                    </div>
                </div>
                <!--Start Time and End Time-->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Start Time</label>
                            <input type="text" class="form-control" name="starttimeinput" autocomplete="off" placeholder="HH:MM:SS">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group ">
                            <label>End Time</label>
                            <input type="text" class="form-control" name="endttimeinput" autocomplete="off" placeholder="HH:MM:SS">
                        </div>
                    </div>
                </div>
                <!--Fault Location-->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Fault Location</label>
                            
                            <div class="ui selection dropdown" id="locations">
                                <input type="hidden" name="location">
                                <i class="dropdown icon"></i>
                                <div class="default text">Choose fault location</div>
                                <div class="menu" id="location-data-box">
                                    {% for location in locations %}
                                        <div class="item" data-value="{{location.id}}">{{location.location}}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Fault Module</label>
                            <div class="ui selection dropdown" id="location-parts">
                                <input type="hidden" name="location-part">
                                <i class="dropdown icon"></i>
                                <div class="default text" id="location-Part-Text">Choose a Module</div>
                                <div class="menu" id="location-part-data-box">
                                    <!-- Dropdown data from ajax-->
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fault Discription-->
                <div class="form-group">
                    <label for="fault_discription">Fault Discription</label>
                    <textarea class="form-control rounded-0" name="fault_discription" rows="6"></textarea>
                </div>

                <!--Action Taken-->
                <div class="form-group">
                    <label for="action_taken">Action Taken</label>
                    <textarea class="form-control rounded-0" name="action_taken" rows="6"></textarea>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-success form-control" value="Report">
                </div>
                
            </form>
            <br>
    </div>

{% endblock content %}

{% block myjs %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'account/js/navparameter/addfault.js' %}"></script>
{% endblock myjs %}