{% extends 'account/base.html' %}
{% load static %}

{% block title %}Performance Analysis {% endblock title %}

{% block mycss %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.css">-->
{% endblock mycss %}

{% block content %}

    
    <div class="col-sm-8 bg-light mx-auto">
        <h4 class="text-center alert alert-info">Performance Analysis</h4>
        <hr>
        <form action="" method="POST" class="">
            {% csrf_token %}
            <!--Makes and Model-->
            <div class="row">
                <div class="col-sm-6">
                        <label>Make</label>
                        <div class="ui selection dropdown" id="makes">
                            <input type="hidden" name="make">
                            <i class="dropdown icon"></i>
                            <div class="default text">Choose a Make</div>
                            <div class="menu" id="makes-data-box">
                                {% for make in makes %}
                                    <div class="item" data-value="{{make.id}}">{{make.name}}</div>
                                {% endfor %}
                            </div>
                        </div>
                </div>
                    
                <div class="col-sm-6">
                        <label>Model</label>
                        <div class="ui selection dropdown" id="models">
                            <input type="hidden" name="model">
                            <i class="dropdown icon"></i>
                            <div class="default text" id="model-text">Choose a Model</div>
                            <div class="menu" id="models-data-box">
                                <!-- Dropdown data from ajax-->
                            </div>
                        </div>
                </div>
                    
            </div>

            <!--Start Date and End Date-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Start Date</label>
                        <input type="text" class="form-control dateinput" name="startdateinput" autocomplete="off" placeholder="Select start date">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>End Date</label>
                        <input type="text" class="form-control dateinput" name="endtdateinput" autocomplete="off" placeholder="select end date">
                    </div>
                </div>
            </div>    
        </form>
        <br>
    </div>

{% endblock content %}

{% block myjs %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'account/js/navparameter/cal_nav_para.js' %}"></script>
    <script>
{% endblock myjs %}