{% extends 'account/base.html' %}
{% load static %}

{% block title %}Update Fault{% endblock title %}

{% block mycss %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.css">-->

{% endblock mycss %}

{% block content %}
    <div class="col-sm-8 mx-auto mt-5">
    <div>
        <div class="m-4 p-4">
            <div class="card-header">
                <h3>Update Fault</h3>
            </div>

            <div>
            <br>
            <form action="" method="POST" novalidate>
                    {% csrf_token %}
                {% for fm in form%}
                    <div class="form-group">
                        {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                    </div>
                {% endfor %}
                <div class="form-group text-center">
                    <input type="submit" value="Update" class="btn btn-primary">
                </div>
            </form>

            </div>
        
        </div>
        </div>
    </div>
{% endblock content %}

{% block myjs %}

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.js"></script>-->
    
    <script>
        $( function() {
            $( ".dateinput" ).datepicker({
                changeYear:true,
                changeMonth:true,
                dateFormat:'yy-mm-dd'
            });
        } );
    </script>

   <script>
        $( function() {
            //$( ".datetimeinput" ).datetimepicker({ dateFormat: 'yy-mm-dd', maxDate: 0, controlType: 'select'}).attr("autocomplete", "off") ;
            $( ".timeinput" ).timepicker({ dateFormat: 'yy-mm-dd', maxDate: 0, controlType: 'select'}).attr("autocomplete", "off") ;
            //$( ".datetimeinput" ).datepicker({ dateFormat: 'yy-mm-dd' }).attr("autocomplete", "off") ;
        });
  </script>
   
{% endblock myjs %}