{% extends 'account/base.html' %}

{% block title %}Problem View{% endblock title %}
{% block mycss %}

{% endblock mycss %}
{% block content %}
<div class="col-sm-12 mx-auto mt-5 bg-light">
    <h4 class="text-center alert alert-info">Problem Record</h4>
    <table class="table">

        {% if fault %}
            <tr>
                <th>Equipment</th>
                <th>Runway</th>
                <th>Make</th>
                <th>Model</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Fault Location</th>
                <th>Part</th>
                <th>Fault Discription</th>
                <th>Action Taken</th>
                <th>Action</th> 
            </tr>
            {% for f in fault %}
                <tr>
                    <td>{{f.equipment}}</td>
                    <td>{{f.runway}}</td>
                    <th>{{f.make}}</th>
                    <th>{{f.model}}</th>
                    <td>{{f.start_date}}</td>
                    <td>{{f.end_date}}</td>
                    <td>{{f.start_time}}</td>
                    <td>{{f.end_time}}</td>
                    <td>{{f.location}}</td>
                    <th>{{f.locationpart}}</th>
                    <td>{{f.fault_discription}}</td>
                    <td>{{f.action_taken}}</td>

                    <td>
                        <a href="{% url 'updatefault' f.id%}" class=""><i class="fas fa-edit" style="color:grey"></i></a>
                        <form action="{% url 'deletefault' f.id %}" 
                            method = 'post' class="d-inline"> {% csrf_token %}
                            <button type="submit" class="" style="color:red;border: none;"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% else %} 
            <h4 class="text-center alert alert-warning">No Record Found</h4>
        {% endif %}

    </table>
</div>
{% endblock content %}