{% extends 'account/base.html' %}
{% load static %}

{% block title %}Problem View{% endblock title %}

{% block mycss %}
    <link rel="stylesheet" href="{% static 'account/css/del.css' %}">
{% endblock mycss %}

{% block content %}
<div class="col-sm-12 mx-auto mt-5 bg-light del">
    <h4 class="text-center alert alert-info">Problem Record</h4>
    <table class="table">

        {% if fault %}
            <tr>
                <th>Runway</th>
                <th>Equipment</th>
                <th>Make</th>
                <th>Model</th>
                <th>Date</th>
                <th>Down Time</th>
                <th>Period</th>
                <th>Fault Location</th>
                <th>Fault Module</th>
                <th>Fault Discription</th>
                <th>Action Taken</th>
                
            </tr>
            {% for f in fault %}
                <tr>
                    <td>{{f.runway}}</td>
                    <td>{{f.equipment}}</td>
                    <th>{{f.make}}</th>
                    <th>{{f.model}}</th>
                    <td>{{f.date}}</td>
                    <td>{{f.down_time}} Hrs</td>
                    <td>{{f.period}}</td>
                    
                    <td>{{f.location}}</td>
                    <th>{{f.locationpart}}</th>
                    <td>{{f.fault_discription}}</td>
                    <td>{{f.action_taken}}</td>

                    <td>
                        <a href="{% url 'updatefault' f.id%}" class=""><i class="fas fa-edit" style="color:grey"></i></a>
                        {% comment %} <form action="{% url 'deletefault' f.id %}" 
                            method = 'post' class="d-inline"> {% csrf_token %}
                            <button type="submit" class="" style="color:red;border: none;"><i class="fas fa-trash-alt"></i></button>
                        </form> {% endcomment %}
                        <a href="{% url 'deletefault' f.id %}" class="" onclick="myFunction"><i class="fas fa-trash-alt" style="color:red"></i></a>
                    </td>
                </tr>
            {% endfor %}
        {% else %} 
            <h4 class="text-center alert alert-warning">No Record Found</h4>
        {% endif %}

    </table>
</div>
{% endblock content %}

{% block myjs %}
    <script src="{% static 'account/js/del.js' %}"></script>
{% endblock myjs %}