.card {
    width: 60em;
}

#runways {
    width: 100%;
}
#equipments {
    width: 100%;
}
#makes {
    width: 100%;
}
#models {
    width: 100%;
}
#locations {
    width: 100%;
}
#location-parts {
    width: 100%;
}
