html {
    height: 100%;
}

.bg {
    background-image: url("../img/bg-login-plane.jpg");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    width: 21rem;
    padding: 15px;
}

.col {
    margin: 15px;
}
#aaoi-logo {
    width: 70px;
}
.devanagari-family {
    font-family: "Vesper Libre", serif;
}
#aaoi-col {
    padding-left: 30px;
}
#login-header {
    background-color: aqua;
}
