html {
    height: 100%;
}

.bg {
    background-image: url("../img/bg-login-plane.jpg");

    height: 100%;
    overflow-x: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    width: 21rem;
    padding: 15px;
}

.col {
    margin: 15px;
}
#aaoi-logo {
    width: 70px;
}
.devanagari-family {
    font-family: "Vesper Libre", serif;
}
#aaoi-col {
    padding-left: 30px;
}
#login-header {
    background-color: aqua;
}
#footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(30, 20, 10, 0.63);
}
#footer-text {
    color: #e9ecef;
}
