.main {
    background-color: #f9f9fa;
    height: 600px;
}


@media only screen and (max-width: 1125px) {
    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
        box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
        border: none;
        height: 900px;
    }
}
@media only screen and (min-width: 1125px) {
    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
        box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
        border: none;
        height: 600px;
    }
}
@media only screen and (max-width: 400px) {
    #user-details-card {
        height: 400px;
        min-width: 250px;
    }
}
@media only screen and (max-width: 1000px) {
    #user-details-card {
        height: 400px;
        min-width: 300px;
    }
}
@media only screen and (min-width: 1000px) {
    #user-details-card {
        height: 300px;
    }
}

.user-profile-img{
    margin: auto;
}
.user-profile-img img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    -webkit-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
    -moz-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
    box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
}


#user-image-card {
    height: 300px;
}

/*
.bg-c-lite-green {
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#f29263),
        to(#ee5a6f)
    );
    background: linear-gradient(to right, #ee5a6f, #f29263);
    text-align: center;
}
.user-profile-img img {
    border-radius: 50%;
    padding: 5px;
    height: 300px;
    width: 300px;
    background-image: linear-gradient(
        to bottom right,
        #ff3cac,
        #562b7c,
        #2b86c5
    );
} 
.user-name {
    margin-top: 30px;
    font-size: 40px;
}
.right {
    height: 600px;
    color: black;
}
.profile-info p {
    color: black;
    font-size: 40px;
    font-style: italic;
}
.right-all {
    text-align: center;
    margin-top: 50px;
    color: black;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.profile-info {
    text-align: center;
}
*/
